@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #CB8589;
    background-color: #FFF2E0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6 {
    /* margin-bottom: 3%; */
    margin-top: 3%;
}

.wholePage {
    /* width: 100%; */
    padding: 5% 5%;

}

.headerWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-areas:
        ". name ."
        ". summary .";

}

.name {
    grid-area: name;
}

.summary {
    grid-area: summary;
    display: grid;
    justify-items: center;
    place-self: center;
}

.imgWrapper {
    display: grid;
    /* padding: 0 5%; */
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3%;
    grid-template-areas:
        "image1 image2 image3";

}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
}

.image img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}