@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    color: #A5D7E8;
    background-color: rgb(2, 17, 41);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* MAKING h1 FONT SIZE LARGER */
.big-heading {
    font-size: 6rem;
}

/* BACK TO TOP BUTTON STYLING */
#toTopButton {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1.2rem;
    width: 3rem;
    height: 4rem;
    color: white;
    font-size: 200%;
    background-color: #B2A4FF;
    border: 1px solid white;
    border-radius: 0.75rem;
}

/* TOP NAVBAR STYLING */
#navbar ul {
    display: flex;
    justify-content: end;
}

#navbar ul > li {
    list-style: none;
}

li a {
    color: #B2A4FF;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

/* FORMATTING MAIN SECTIONS */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}

.inside {
    padding: 10% 25% 0%;
}

.middle-col {
    flex: 0 1 100%;
    /* max-width: 50%; */
}

.icon {
    text-decoration: none;
    color: white;

}

/* ABOUT PAGE SECTION */
#aboutMe {
    display: flex;
    flex-direction: row;
}

.aboutCol {
    display: flex;
    flex-direction: row;
}

/* TODO */
/* EXPERIENCE TAB VIEW  */
.tabMenu {
    display: inline-flex;
    /* flex-direction: row; */
    /* width: 50rem; */
    height: 70%;
}

.tabs {
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

.tabs button {
    display: flex;
    flex-direction: column;
    outline: none;
    /* border: none; */
    width: 100%;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabs button.active {
    background-color: #ccc;
}

.tabContent {
    width: 100%;
    /* display: flex; */
    border: 1px solid #ccc;
}