@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    color: #A5D7E8;
    background-color: rgb(2, 17, 41);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#toTopButton {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1.2rem;
    width: 3rem;
    height: 4rem;
    color: white;
    font-size: 200%;
    background-color: #B2A4FF;
    border: 1px solid white;
    border-radius: 0.75rem;
}

#navbar ul {
    display: flex;

    justify-content: end;
}

li {
    list-style: none;
    /* display: inline-flex; */
}

li a {
    color: #B2A4FF;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    text-decoration: none;

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 10rem; */
    min-height: 100vh;
}

.inside {
    padding-top: 10rem;
    padding-right: 5rem;
}

#aboutMe {
    display: flex;
    flex-direction: row;
}

#aboutMe>p {
    flex: 0 1 30rem;

}

.big-heading {
    font-size: 6rem;
}

.tabMenu {
    display: inline-flex;
    /* flex-direction: row; */
    width: 50rem;
    height: 30rem;
}

.tabs {
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

.tabs button {
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabs button.active {
    background-color: #ccc;
}

.tabContent {
    width: 100%;
    /* display: flex; */
    border: 1px solid #ccc;
}